.controls {
  display: flex;
  align-items: stretch;
  height: 30px;
}

.meters {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex: 1;
}

.meters .meter {
  flex: 1;
  --color: white;
  --value: 100%;
}

/*
.meter + .meter {
  border-top: 1px solid var(--border-color);
}
*/

.controls .meter .bar {
  height: 100%;
  width: var(--value);
  background-color: var(--color);
}
