.sidebar {
  display: flex;
  flex-direction: column-reverse;
  align-items: stretch;
}

.sidebar .title {
  text-align: center;
  text-transform: uppercase;
}

.workflow-list {
  list-style: none;
  margin-bottom: 0;
  padding: 0;
}

.workflow {
  border-top: 1px solid var(--border-color);
}
.workflow.running {
  color: gray;
}

.workflow header {
  display: flex;
  align-items: center;
  padding: 1rem;
}

.workflow .name {
  flex: 1;
  margin: 0 0.5rem;
  font-size: 1.4rem;
  font-family: monospace;
  text-transform: uppercase;
  font-weight: normal;
}

.action {
  appearance: none;
  background: none;
  border: none;
  outline: none;
  margin: 0;
  padding: 3px;
  color: var(--control-color);
  font-size: 0.9rem;
  transition: opacity 0.1s ease-in-out;
  text-align: center;
  opacity: 0.8;
}
.action:hover {
  opacity: 1;
}
.action:active {
  opacity: 0.5;
}

.workflow.running .run,
.workflow:not(.running) .stop,
.workflow:not(.expanded) .triggers {
  display: none;
}
